*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}

body
{
    background: url("https://images.pexels.com/photos/3571551/pexels-photo-3571551.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFAFF;
}

.header
{
    background: #04724D;
    border-radius: 30px;
    width: 80vw;
    margin: 10px auto;
    padding: 30px;
    font-family: 'Playfair Display', serif;
}
.header h1
{
    font-size: 2.4rem;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.header hr
{
    width: 50%;
    border-bottom: 2px solid #FFFAFF;
    margin: 5px auto;
}
.header hr:nth-of-type(even)
{
    width: 60%;
}
.header h3
{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
}

.main-content
{
    background: rgba(46, 158, 136, 0.9);
    width: 80vw;
    margin: 30px auto;
    padding: 20px;
    border-radius: 30px;

}
.form
{
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    
}
.form-label
{
    font-size: 1.2rem;
    color: #FFFAFF;
    font-family: 'Source Sans Pro', sans-serif;
}
.form-input
{
    font-size: 1.1rem;
    line-height: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
input[type="text"], 
input[type="email"],
input[type="number"],
select
{
    display: inline-block;
    font-size: 1.1rem;
    width: 100%;
}
textarea
{
    width: 100%;
}
.submit
{
    margin: 0 auto;
}
input[type="submit"]
{
    padding: 10px 20px;
    font-size: 1.1rem;
    background: #B4654A;
    color: #FFFAFF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: all .4s ease;
}
input[type="submit"]:hover
{
    color: #B4654A;
    background: #FFFAFF;
}

@media only screen and (min-width:996px)
{
    .form
    {
        grid-template-columns: 1fr 1fr;
    }
    .form-label
    {
        text-align: right;
    }
    .submit
    {
        margin-left: 80%;
    }
}