*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    background: #FBFFFE;
    font-family: 'Lato', sans-serif;

}
img
{
    max-width: 100%;
    height: auto;
}
a
{
    text-decoration: none;
    display: inline-block;
    color: #6D676E;
}
ul li
{
    list-style:square;
    margin-left: 17px;
}
abbr
{
  text-decoration: none;
}
.m-logo
{
    width: 60px;
    height: auto;
}
.main-header
{
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #FBFFFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
#navbar 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}
.nav-link
{
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: 'Shippori Mincho B1', serif;
}
.nav-link:hover
{
    border-bottom: 2px dashed #6D676E;
    color: #FAA916;
}

.portfolio-section
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}
.hero-section
{
    
    background: url("./portfolio/hero1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.hero-section::after
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(109,103,110);
    opacity: .8;
    z-index: -1;
}
.content
{
    color: #FBFFFE;
}
.content h1
{
    text-transform: capitalize;
    font-size: 3.2rem;
}
.content h4
{
    font-size: 1.6rem;
    text-align: right;
    color: #FAA916;
}
#about, #projects, #contact
{
    flex-direction: column;
    
}
#about img
{
    border-radius: 50%;
    width: 70%;
    display: block;
    margin: auto;
}
.about-img
{
    margin-bottom: 30px;
}
.about-info
{
    color: #494749;
    font-size: 1.2rem;
}
.about-info p
{
    line-height: 2.1rem;
}
#projects
{
    background: rgba(109,103,110, .8);
}
.project-tile
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
    cursor: pointer;
    background: #FBFFFE;
}
.project-title
{
    padding: 20px 10px;
    text-transform: capitalize;
    color: #494749;
}
.project-title span
{
    opacity: 0;
    font-size: 1rem;
    transition: all .4s ease;
}
.project-tile:hover span
{
    opacity: 1;
    font-size: 1.5rem;
    color: rgba(250,169,22, 0.95);

}
.project-desc
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 88%;
    opacity: 0;
    background: rgba(250,169,22, 0.95);
    padding: 30px;
    text-transform: inherit;
    line-height: 2rem;
    transition: all .4s ease;
    color: #494749;
}
.project-tile:hover .project-desc
{
    opacity: 1;
}

.contact-heading
{
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #494749;
}
.contact-heading h2
{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}
.contact-heading p
{
    font-size: 1.2rem;
}
.contact-links
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.contact-links i
{
    margin-right: 10px;
}
.contact-links a
{
    display: inline-block;
    padding: 10px ;
    transition: all .4s ease;
}
.contact-links a:hover
{
    color: #FAA916;
    transform: scale(1.1);
}
.portfolio-footer
{
    width: 100%;
    height: 8vh;
    background: rgba(109,103,110,.7);
    padding: 15px;
}
footer
{
    font-size: 1.1rem;
    text-align: center;
    color: #FBFFFE;
}

@media only screen and (min-width:600px)
{
    .main-header
  {
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
  }
  .m-logo
  {
    margin-left: 20px;
  }
  #navbar
  {
    width: 40%;
  }
  .nav-link
  {
    text-transform: uppercase;
  }
  #about img
  {
    width: 50%;
  }
  .project-tile
  {
    width: 80%;
  }
  .project-desc
  {
    height:92%;
  }
  .contact-links a
  {
    font-size: 1.1rem;
    cursor: pointer;
  }
  .contact-links a:hover
  {
    transform: scale(1.2);
  }
}

@media only screen and (min-width:1024px)
{

  #about
  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
  }
  #about img
  {
    width: 55%;
    border-radius: 10%;
  }
  .about-info p
  {
    line-height: 2.4rem;
  }

  .contact-links
  {
      grid-template-columns: repeat(3, 1fr);
  }
  .contact-links a
  {
    padding: 15px;
  }
  #projects
  {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project-tile
  {
    flex-basis: 40%;
    margin: 20px;
  }
  .project-desc
  {
    height: 87%;
  }
}
@media only screen and (min-width:1140px)
{
    .project-tile
    {
      flex-basis: 25%;
    }
    .project-desc
    {
      height: 87%;
    }
}